{{!--This is main of handlebars--}}
{{!-- JSX(JavaScript-XML) allows us to write HTML elements in JavaScript and place them in the DOM  --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {{{body}}}      {{!--Interpolation-> bringing something which is from the other file and using it --}}
</body>
</html>